.bestsellers-section {
  height: 92vh;
  background-color: rgb(247, 246, 246);
  scroll-snap-align: start;
  scroll-margin-top: 8vh;
  padding: 3% 4%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bestsellers-title {
  margin-bottom: 3%;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.bestseller-products {
  flex: 1;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3% 0;
  justify-items: center;
}

.bestseller-product {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bestseller-product > img,
.product-info {
  width: 100%;
  max-width: 260px;
}

.product-info {
  text-align: center;
}

.product-info > * {
  margin-top: 2px;
}

.product-name {
  font-size: 0.9rem;
  font-weight: 600;
}

.product-type {
  font-size: 0.75rem;
  font-style: italic;
  color: rgb(124, 123, 123);
}

.product-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-cart-icon {
  transition: all 0.2s ease-in-out;
}

.add-cart-icon:hover {
  transform: scale(1.15);
}

@media screen and (max-width: 375px) {
  .bestseller-product > img,
  .product-info {
    width: 100px;
  }

  .product-name {
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .bestsellers-section {
    padding: 3% 4%;
  }

  .bestseller-product > img,
  .product-info {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .bestsellers-section {
    padding: 2%;
    padding-bottom: 5%;
  }

  .bestsellers-title {
    font-size: 2.5rem;
    margin-bottom: 3%;
  }

  .bestseller-products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .bestseller-product {
    justify-content: center;
  }
}
