.blog-preview-section {
  height: 92vh;
  background-color: rgb(247, 246, 246);
  scroll-snap-align: start;
  scroll-margin-top: 8vh;
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
}

.blog-preview-title {
  margin-bottom: 5%;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.blog-preview-article {
  background-color: #ecd3b4;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.middle-article {
  background-color: #f8e6cf;
}

.slider-wrapper {
  flex: 1;
}

.slider-wrapper > * {
  height: 100%;
  z-index: 100;
}

.slick-list,
.slick-track,
.slick-slide > *,
.slide-wrapper {
  height: 100%;
}

.slide-wrapper {
  padding: 0 2%;
}

.preview-article-image {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.preview-article-image > img {
  object-fit: cover;
}

.preview-article-content {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.preview-article-title {
  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: 400;
}

.preview-article-description {
  flex: 1;
  margin: 5% 0;
  font-weight: 300;
  font-size: 0.9rem;
}

.article-link-wrapper {
  text-align: center;
}

.article-link {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 550px) {
  .blog-preview-section {
    padding: 6% 4%;
  }
}

@media screen and (min-width: 1000px) {
  .blog-preview-section {
    padding: 2%;
  }

  .blog-preview-title {
    margin-bottom: 3%;
    font-size: 2.5rem;
  }

  .slide-wrapper {
    padding: 0 3%;
  }
}
