.cart-section {
  min-height: 50vh;
  background-color: rgb(247, 246, 246);
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart-title {
  margin-bottom: 5%;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.cart-product {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(146, 146, 146);
}

.cart-product-image {
  flex: 0 0 100px;
  align-self: center;
}

.cart-product-desc {
  flex: 1;
  padding: 0px 18px;
  position: relative;
}

.cart-product-name {
  font-size: 0.95rem;
  font-weight: 500;
}

.cart-product-type {
  font-size: 0.8rem;
  color: rgb(124, 123, 123);
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.9rem;
}

.cart-quantity-digit {
  font-size: 1.1rem;
  font-weight: 400;
}

.cart-quantity-button {
  cursor: pointer;
}

.cart-quantity-button:focus {
  outline: none;
}

.cart-remove-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -14px;
  opacity: 0.5;
}

.cart-remove-button:focus {
  outline: none;
}

.cart-product-price {
  display: flex;
  gap: 10px;
  font-size: 0.95rem;
}

.cart-product-price-digit {
  font-weight: 500;
}

.cart-discount {
  display: flex;
  margin: 4% 0;
  gap: 6px;
}

.cart-discount > input {
  flex: 1;
}

.cart-price-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-total-price {
  font-weight: 600;
}

.checkout-button {
  margin-top: 4%;
  width: 100%;
}

.cart-checkout-title {
  display: none;
}

.empty-cart-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  font-style: italic;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .cart-section {
    padding: 3% 4%;
  }

  .cart-product {
    padding: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .cart-section {
    padding: 1%;
    padding-bottom: 5%;
  }

  .cart-title {
    font-size: 2.5rem;
    margin-bottom: 1%;
  }

  .cart-content {
    display: flex;
    padding: 0 14%;
    position: relative;
  }

  .cart-checkout-wrapper {
    padding: 0 50px;
    padding-right: 0px;
    position: sticky;
    height: 180px;
    top: 100px;
  }

  .cart-products-list-wrapper {
    flex: 1;
  }

  .cart-product {
    padding: 25px;
  }

  .cart-checkout-title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .cart-price-summary {
    font-size: 1rem;
  }

  .cart-total-price {
    font-size: 1.3rem;
  }

  .empty-cart-info {
    top: 15vh;
    width: 200px;
  }
}
