.featured-section {
  height: 92vh;
  background-color: rgb(247, 246, 246);
  scroll-snap-align: start;
  scroll-margin-top: 8vh;
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
}

.featured-title {
  margin-bottom: 5%;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.featured-products {
  flex: 1;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3% 0;
  justify-items: center;
  position: relative;
}

.featured-product {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.featured-product > img {
  width: 100%;
  max-width: 150px;
}

@media screen and (max-width: 375px) {
  .featured-product > img {
    width: 100px;
  }
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .featured-section {
    padding: 3% 4%;
  }

  .featured-product > img {
    width: 100%;
    max-width: 150px;
  }
}

@media screen and (min-width: 1000px) {
  .featured-section {
    padding: 2%;
    padding-bottom: 5%;
  }

  .featured-title {
    font-size: 2.5rem;
    margin-bottom: 3%;
  }

  .featured-products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .featured-product > img {
    width: 100%;
    max-width: 250px;
  }

  .featured-product {
    justify-content: center;
  }
}
