.info-section {
  height: 92vh;
  background-color: rgb(247, 246, 246);
  scroll-snap-align: start;
  scroll-margin-top: 8vh;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.info-image {
  background-image: url(../components/images/info-photo.jpg);
  background-size: 120%;
  background-position: center center;
  flex: 1;
}
.info-content {
  flex: 1;
  background-color: #49680c;
  color: rgb(247, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 8%;
}

.info-content-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.info-content-maxim {
  font-style: italic;
  font-size: 0.85rem;
  font-weight: 400;
}

.info-content-description {
  font-size: 1.05rem;
  text-align: center;
  margin-top: 10%;
}

@media screen and (min-width: 550px) {
  .info-section {
    padding: 2%;
  }
}

@media screen and (min-width: 1000px) {
  .info-section {
    padding: 0;
    flex-direction: row;
  }

  .info-image {
    background-size: cover;
  }

  .info-content {
    padding: 0;
  }

  .info-content-title {
    font-size: 2.5rem;
  }

  .info-content-maxim {
    font-size: 1.1rem;
  }

  .info-content-description {
    font-size: 1.35rem;
    margin: 0 23%;
    margin-top: 7%;
  }
}
