.shop-section {
  min-height: 50vh;
  background-color: rgb(247, 246, 246);
  scroll-snap-align: start;
  scroll-margin-top: 8vh;
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
}

.shop-product-display {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.shop-product {
  width: 40%;
}

.shop-item-image {
  width: 100%;
  max-width: 150px;
}

.shop-info {
  text-align: center;
}
